
*{margin:0;padding:0}
html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
   /* 加载背景图 */
   background:url(../img/bg.jpg) no-repeat;
   /* 背景图垂直、水平均居中 */
   background-position: center center;
   /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
   background-attachment: fixed;
   /* 让背景图基于容器大小伸缩 */
   background-size:cover;
   /* 设置背景颜色，背景图加载过程中会显示背景色 */
   background-color:rgba(39, 7, 129, 0.1);
   padding:10px; 
}
#allmap {width: 100%;height: 100%;overflow: hidden;font-family:"微软雅黑";}
.control-cabin{
    width:100%;
    height:100%;
}
/* .seperate{
    width:100%;
    height:5%;
    line-height:5%;
    display:flex;
    font-size:12px;
    text-align: center;
    flex-direction: row-reverse;
    display:none;
} */
.seperate div:last-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;  
}
.seperate div:first-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;  
}
.seperate div{
    width:7.5%;
    padding:10px 0;
    color:#fff;
    background:rgba(18, 111, 226, 0.1);
    border-bottom:2px solid #fff;
}
.capsule{
    width:100%;
    height:100%;
    background:url(../img/body_bg.svg);
   /* 让背景图基于容器大小伸缩 */
   background-size:cover;
}
.title{
    width:100%;
    height:10%;
    padding-left:20px;
}
.log{
    margin-right:20px;  
}
.sink{
    font-size:20px;
    color:#fff;
}
.content{
    width:100%;
    height:90%;   
}
.md-top{
    display:flex;
    justify-content: space-between;
}
.svg-xbg{
    width:100%;
    height:68%;
    background:url(../img/border_bg.svg);
    background-size:cover;
    margin-bottom:2%;
    padding:2%;
}
.svg-bg{
    width:100%;
    height:38%;
    background:url(../img/border_bg.svg);
    background-size:cover;
    margin-bottom:2%;
    padding:2%;
}
.svg-md{
    width:100%;
    height:28%;
    background:url(../img/border_bg.svg);
    background-size:cover;
    margin:2% 0;
    box-sizing: border-box;
    padding:2%;
}
.svg-sm{
    width:50%;
    height:100%;
    background:url(../img/border_bg.svg);
    background-size:cover;
    margin-right:2%;
    box-sizing: border-box;
}
.svg-xsm{
    width:30%;
    height:90%;
    background:url(../img/body_bg.svg);
    background-size:cover;
    margin-right:2%;
    padding:2%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.font-20{
    font-size:20px;
    color:#fff;
    color:rgb(81,175,237)
}
.font-16{
    font-size:12px;
    color:#fff;
}
.font-number{
    font-size:30px;
    color:rgb(0,141,255);
    font-weight: bolder;
    text-align: center;
}
table{
    width:100%;
    height:90%;
    color:#fff;
    text-align: center;
}
.border{
    border:1px solid rgb(100, 168, 185) !important;
}
i{
    font-size:12px;
    color:red;
}
.row{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.flex-column{
    display:flex;
    flex-direction: column;
}
.flex-row{
    width:100%;
    height:30%;
    display:flex;
}
.onlineMonitor {
    display:flex;
    color:#fff;
    justify-content:space-around;
}
.subtit{
    margin-left:6%;
}
.middle>.md-top{
    width:100%;
    height:30%;
}

.middle>.video{
    width:100%;
    height:40%;
    display:flex;
    flex-direction: column;
    padding:10px;
    margin-bottom:2%;
}
.middle>.md-floor{
    width:100%;
    height:28%;
}


.video>.v-picture{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
}
.video>.v-picture>.modle{
    width:48%;
    height:100%;
    margin:1%;
}
.video>.v-picture>.modle>.pic{
    width:100%;
    height:100%;
    background-color:rgb(190, 186, 186,.1);

}

